@import "tailwindcss";

body {
  font-family: var(--font-lato), system-ui, sans-serif;
  overflow-y: scroll;
}

html {
  scrollbar-gutter: stable;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
